* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #f6f3fa;
}
.github {
  color: #f0d9e2;
  transition: all 1.1s ease-in-out;
}
.github:hover {
  font-size: 22px;
  text-decoration: underline;
  color: white;
}
.unicorn {
  max-width: 40%;
  display: inline-block;
  position: relative;
  left: 55%;
}
#back {
  background-repeat: no-repeat;
  background-size: 118%;
}
body {
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  color: #a48fc8;
}
header {
  text-align: center;
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 45px;
  color: #fff;
  text-shadow: 0 0 7px #ffadd6, 0 0 10px #ffadd6, 0 0 21px #ffadd6,
    0 0 42px #fff, 0 0 82px #fff, 0 0 92px #dab2ec, 0 0 102px #dbb5ec,
    0 0 151px #af94bb;
  padding-bottom: 30px;
  padding-top: 17px;
  transition: all 1.2s ease-in-out;
}
header:hover {
  transform: scale(1.4);
}
footer {
  font-family: "Kanit", sans-serif;
  font-size: 17px;
  text-align: center;
  position: absolute;
  right: 39%;
  bottom: 3%;
  color: #f8edfa;
}
.search {
  width: 70%;

  display: inline-block;
  position: relative;
  left: 9.7%;
}

.searchTerm {
  width: 30%;
  border: 3px solid #e7abc5;
  border-right: none;
  padding: 5px;
  height: 35px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #a2baf5;
  font-family: "Comfortaa", cursive;
  font-size: 18px;
  font-weight: 130px;
  text-align: center;
}

.searchTerm:focus {
  color: #da91b1;
  line-height: 30px;
}

.searchButton {
  width: 45px;
  height: 35px;

  border: 3px solid #e7abc5;
  background: #e7abc5;
  text-align: center;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 21px;
}
.container {
  scale: 75%;
}
.main-container {
  padding: 30px;
}

.card-1 {
  position: absolute;

  max-width: 500px;
  width: 500px;
  left: 10%;
  margin: 20px;
  padding: 30px;

  min-height: 200px;
  height: 390px;

  display: block;

  border: 1px solid #e7abc5;

  border-radius: 10px;
  box-shadow: 0px 6px 10px rgb(0 0 0 / 25%);
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background-image: linear-gradient(
    103.3deg,
    rgba(208, 187, 228, 0.568) 20%,
    rgba(226, 163, 202, 0.753) 55.7%,
    rgba(244, 176, 145, 0.788) 81.8%
  );
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}
.col1 {
  text-align: left;
  display: inline-block;
  padding-right: 30px;

  font-size: 18px;
  font-family: "Mochiy Pop P One", sans-serif;
}
.c4 {
  padding-bottom: 40px;
  font-size: 16px;
  font-family: "Mochiy Pop P One", sans-serif;
}
.col3 {
  text-align: right;
  display: inline-block;
  padding-left: 40px;
}
.col2 {
  position: absolute;

  text-align: right;
  right: 18%;
  bottom: 28%;
}
.temp_cond {
  position: relative;
  top: 20%;
}
#city {
  line-height: 25px;
  font-size: 40px;
  color: #f8edfa;
  padding-top: 0;
}
.wind {
  line-height: 30px;
  color: #f1e7ee;
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.celsius {
  line-height: 30px;
}
#cond {
  color: #ecd9cc;
  font-size: 17px;
  text-transform: capitalize;
}
.i1 {
  color: white;
  text-shadow: 0 0 7px #ffadd6, 0 0 10px #ffadd6, 0 0 21px #ffadd6,
    0 0 42px #fff, 0 0 82px #fff, 0 0 92px #cf9fe6, 0 0 102px #cf9fe6,
    0 0 151px #cf9fe6;
  font-size: 105px;
  transition: all 0.8s ease-in-out;
}
.i1:hover {
  transform: scale(1.4);
}

.ig {
  padding: 20px auto;
  color: white;
}
.ig:hover {
  cursor: pointer;
  box-shadow: 0px 6px 10px rgb(0 0 0 / 40%);
  transform: scale(110%);
}
.lk {
  margin: 6px 15px;
  text-decoration: none;
  color: white;
}
.lk:hover {
  cursor: pointer;
  box-shadow: 0px 6px 10px rgb(0 0 0 / 40%);
  transform: scale(110%);
}
.email {
  padding: 20px auto;
  transition: all 150ms ease-in-out;
  color: white;
}
.email:hover {
  cursor: pointer;
  box-shadow: 0px 6px 10px rgb(0 0 0 / 40%);
  transform: scale(110%);
}
.date-number {
  font-weight: normal;
}
#celsius-value {
  font-size: 45px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.575);
}
#celsius,
#far,
#celsius1,
#far1 {
  text-decoration: none;
  color: #a48fc8;
  font-size: 20px;
  position: relative;
  bottom: 5%;
}
#celsius:hover,
#celsius1:hover {
  color: #8e71c0;
  cursor: pointer;
}
#far:hover,
#far1:hover {
  color: #8e71c0;
  cursor: pointer;
}
.temp {
  font-weight: lighter;
}
